@model IEnumerable<Revision1.Models.Sanpham>

@{
    ViewBag.Title = "Index";
}
<h3>Danh sách toàn bộ sản phẩm</h3>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Tìm mặt sản phẩm: @Html.TextBox("SearchingString")
        <input type="submit" value="Tìm"/>
    </p>
}
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 col-xg text-center">
            Mã sản phẩm: <b>@Html.DisplayFor(i => item.Mavd) <br /> </b>
            Tên sản phẩm: <b>@Html.DisplayFor(i => item.Tenvd) <br /> </b>
            @{
                var path = "~/Content/Images/" + item.TenAnh;
                <a href=""><img src="@Url.Content(path)" width="180px" /></a>
            }
            <br />
            Mô tả: <b>@Html.DisplayFor(i => item.Mota) <br /> </b>
            Giá tiền: <b>@Html.DisplayFor(i => item.Giatien) đ<br /> </b>
            @Html.ActionLink("Chi tiết", "Details", new { id = item.Mavd })
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Mavd })
            @Html.ActionLink("Xóa", "Delete", new { id = item.Mavd })

        </div>
    }
</div>